* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.count-div {
    width: 40rem;
    border: 1px solid grey;
    padding: 5rem;
    background-color: darkblue;
    color: blanchedalmond;
    width: 30rem;

}

.count {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}

.btn {
    color: white;
    background-color: red;
    cursor: s-resize;


}

.btn-2 {
    color: black;
    background-color: white;
    cursor: crosshair;

}

.btn-3 {
    color: white;
    background-color: green;
    cursor: n-resize;

}

.buttons button {
    padding: 13px;
    margin: 0 9px;
    font-size: medium;
    border-radius: 20px;
    border: none;
    outline: rgba(0, 0, 0, 0.5);
}

.buttons {
    padding-top: 20px;
}